<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PAGINATION</title>
</head>
<body>

<h1>RECORD: {{.Now}}</h1>

<a href="/?next={{.Prev}}">Previous {{.Prev}}</a> - <a href="/?next={{.Next}}">Next {{.Next}}</a>
</body>
</html>