<html>
<head>
<title>index.gohtml</title>
</head>
<body>
	<h1>index.gohtml in public folder</h1>
	<p>
		<a href="/">main</a> |
		<a href="/test/">/test/</a> |
		<a href="/test">/test</a> |
		<a href="index.gohtml">index.gohtml</a> |
		<a href="/html">html</a> |
		
		
	</p>
</body>
</html>
