{{template "header"}}

<h1>Create A New Book</h1>
<form method="post" action="/items/create/process">
    <input type="text" name="isbn" placeholder="isbn" required autofocus>
    <input type="text" name="title" placeholder="title" required>
    <input type="text" name="author" placeholder="author" required>
    <input type="text" name="price" placeholder="price" required>
    <input type="submit">
</form>

{{template "footer"}}
