{{define "nav-main"}}
<nav>
    <ul>
        <li><a href="/index">Main page</a></li>
        <li><a href="/about">ABOUT История</a></li>
        <li><a href="/contact">CONTACT</a></li>
        <li><a href="/apply">Apply</a></li>
    </ul>
</nav>
{{end}}