<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      test
    </title>
    <style>
      body {
      margin: 0px;
      padding: 20px;
      color: brown;
      }
    </style>
  </head>
  <body>
    <main>
      <section>
        <article>
          <div>
            <p>
              Hello!
            </p>
          </div>
        </article>
      </section>
    </main>
  </body>
</html>